{% set container = theme.settings.fluid_container ? 'container-fluid' : 'container' %} {# Header page #} {% if page.header_page %} {% block header_page %}
  <div role="header-page" class="header-container {{ container }}">
    <div class="row grid-align-middle--md-up">
      <div class="col-xs-10 col-md-6">
        {# Header #} {% if page.header %} {% block header %}
          <div role="heading">
            {{ page.header }}
          </div>
        {% endblock %} {% endif %}
      </div>
      <div class="col-md-6 hidden-xs hidden-sm">
        <a class="navbar-left" href="#">
        </a> {{ page.header_page }}
      </div>
    </div>
  </div>
{% endblock %} {% endif %}

  {{ messages }}

<div class="container page-register">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <div class="block-user-login-block">
        {{ page.content }}

        <div class="user-links-wrapper">
          <a href="{{ path('user.login') }}" class="user-link user-link--password">{{ 'Login'|t }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
