{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
{% set num = rows|length %}
{% set add = 5 - num %}

{% for row in rows %}
    {%
    set row_classes = [
    default_row_class ? 'views-row',
    ]
    %}
  <div{{ row.attributes.addClass(row_classes) }}>

      {{ row.content }}
  </div>
{% endfor %}

<div class="row">
  {% for i in 1..add %}
    <div class='col-xs-6 col-sm-4 col-md-3'>
      <div class="group-user-name">Username</div>
      <img src="/{{ directory }}/img/default-avatar.png" class="img-responsive group-avatar" />
      <div class="group-info">What is this {{ i }}</div>
    </div>
  {% endfor %}
</div>
